<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>